# Dependencies
node_modules/
**/node_modules/

# Expo
.expo/
**/dist/
**/build/

# Python
__pycache__/
**/__pycache__/
*.pyc
**/*.pyc
.venv/
**/.venv/

# Logs
*.log
**/*.log

# OS
.DS_Store
Thumbs.db

# Env files — DO NOT push secrets
.env
**/.env
.env.local
**/.env.local